body {
  font-family: Arial, sans-serif;
  color: #394f59;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#controls {
  width: 300px;
  padding: 30px;
  background-color: #e3ebf0;
  border-right: 1px solid #c6d8e0;
  overflow-y: auto;
}

#controls h2 {
  margin-top: 0;
}

#logo-container {
  padding: 0px 50px;
}

#header-container {
  margin-bottom: 25px;
  border-bottom: 1px solid #c6d8e0;
}

.filter-group {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c6d8e0;
}

.filter-group label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

.filter-group input {
  accent-color: #394f59;
}

input[type="text"] { 
  padding: 10px;
  width: 100%;
  border: 2px solid #394f59;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #394f59;
  outline: none;
}

#main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#map-container {
  position: relative;
  width: 948px;
  height: 844px;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

#results {
  padding: 30px;
  border-top: 1px solid #c6d8e0;
  width: 100%;
}

#resultsHeading {
  width: 948px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c6d8e0;
}

#results h2 {
  margin-top: 0;
  margin-bottom: 0px;
}

#resultsList {
  width: 948px;
  list-style-type: none;
  padding: 0;
  margin-top: 0px;
}

.result-item {
  border-bottom: 1px solid #c6d8e0;
  padding: 35px;
}

.result-content {
  display: flex;
  align-items: flex-start;
}

.result-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  margin-top: 18px;
  border: 1px solid #c6d8e0;
  border-radius: 50%;
}

.result-details {
  flex: 1;
}

.result-details  h3 {
  margin-bottom: 5px;
}

.result-details p {
  margin: 0;
  line-height: 1.5;
}

.yelp-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #e53935;
  font-weight: bold;
}

.yelp-link:hover {
  text-decoration: underline;
}

#resultsList li {
  padding: 20px;
}

#resultsList li:hover {
  background-color: #e3ebf0;
}

/* Tooltip styling */
#tooltip {
  position: absolute;
  text-align: left;
  padding: 10px;
  background: white;
  border: 1px solid #394f59;
  border-radius: 10px;
  pointer-events: none;
  font-size: 12px;
  max-width: 400px;
  width: auto;
}

#tooltipContent {
  display: flex;
  align-items: flex-start;
}

#tooltipImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #c6d8e0;
  border-radius: 50%;
}

#tooltipText {
  flex: 1;
}

.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  line-height: 1.4;
}
